
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"/>

<div class="container"  ng-controller="changePasswordController">

    <form class="form-signin" ng-submit="changePassword()">
        <div>

            <h3 align="center" class="form-signin-heading">Изменение пароля</h3>
            <p align="left"><b>Внимание:</b> После успешного изменения пароля Ваш сеанс работы будет завершен,
                Вы будете переведены на главную страницу для входа на сайт с новыми данными.</p>
            <div class="alert alert-danger" ng-hide="!error">
                <p>При изменении пароля возникла проблема:</p>
                <p>{{error.message}}</p>
            </div>
            <hr>
            <label for="password" class="sr-only"><b>Текущий пароль</b></label>
            <input type="password" id="password" name="password" class="form-control"  placeholder="Введите текущий пароль" ng-model="client.password" required>
            <hr>
            <label for="password" class="sr-only"><b>Новый пароль</b></label>
            <input type="password" id="newPassword" name="newPassword" class="form-control"  placeholder="Введите новый пароль" ng-model="client.newPassword" required>
            <!--            <hr>-->
            <label for="confirmPassword" class="sr-only"><b>Подтверждение нового пароля</b></label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Повторите ввод нового пароля" ng-model="client.confirmPassword" required>
            <hr>

            <button type="submit" class="btn btn-lg btn-primary btn-block">Изменить</button>

        </div>
        <br>
    </form>
</div>
