<div class="container" ng-controller="indexHelpController">
    <p>&nbsp;</p>
    <h1 align="center">Справка</h1>
    <p>&nbsp;</p>
    <h3>Вопросы регистрации</h3>
    <p>&nbsp;</p>
    <h4><a href="#!/change_registration" ng-click="">Изменение пароля или email пользователя</a></h4>
    <p>&nbsp;</p>
    <h4><a href="#!/change_username" ng-click="">Изменение сетевого имени пользователя</a></h4>
    <p>&nbsp;</p>
    <h3>Использование сервиса</h3>
    <p>&nbsp;</p>
    <h4><a href="#!/filling_questionnaire" ng-click="">Заполнение анкеты</a></h4>
    <p>&nbsp;</p>
</div>